<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>라디오</title>
</head>

<body>
    <form action="/web1/radio" method="get">
        <label for="gender"> 성별 : </label>
        <input type="radio" name="gender" value="남자" checked> 남자
        <input type="radio" name="gender" value="여자"> 여자
        <br>
        <br>
        <label for="chk_mail"> 메일 정보 수신 여부 : </label>
        <input type="radio" name="chkmail" value="yes" checked> 수신
        <input type="radio" name="chkmail" value="no"> 거부
        <br>
        <br>
        <label for="content">가입 인사를 작성해주세요 </label>
        <br>
        <textarea name="content" rows="3" cols="35"></textarea>
        <br>
        <input type="submit" value="전송">
        <input type="reset" value="취소">
        <br>
    </form>
</body>

</html>