<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    중복 검사할 아이디 입력
    <input type="text" id="id">
    <button onclick="idCheck();">중복검사</button>
    <br>
    <br>
    <span id="message"></span>
</body>

<script>
    function idCheck() {
        var id = document.getElementById('id').value;
        window.open("idCheck.jsp?id=" + id);
    };
</script>

</html>