<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .wrapper {
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
</style>



<body>
    <div class="wrapper">
        <fieldset>
            <legend> 회원 가입 </legend>
            <form action="#" method="get">
                <pre>
    아이디      <input type="text" name="userId" id="userId" required size="10"> <button type="button" onclick="check();">중복체크</button>

   비밀번호     <input type="text" name="userPwd" id="userPwd" required>

비밀번호 확인   <input type="text" name="userPwdRe" id="userPwdRe" required>

    이름        <input type="text" name="userName" id="userName" required>

    나이        <input type="text" name="userAge" id="userAge" required>

    주소        <input type="text" name="userAddr" id="userAddr" required>

<input type="submit" value="가입">  <input type="reset" value="취소">  <button type="button" onclick="back();">뒤로가기</button>
</pre>
            </form>
        </fieldset>
    </div>
</body>

<script>
    function back() {
        window.location.href = "/web1/Views/Day03/memberIndex.html";
    }

    function check() {
        window.open("idCheck.jsp", "_blank", "resizable=0, width=500, height=130");
    }
</script>

</html>