<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSP Scriptlet Tag</title>
</head>

<body>
    <fieldset>
        <legend>JSP Scriptlet Tag</legend>
        <form action="../Day03/jspScriptlet.jsp" method="get">
            값 입력 :
            <input type="text" name="value" id="value">
            <input type="submit" value="전송">
        </form>
    </fieldset>
</body>

</html>